nvim/.config/nvim/.netrwhist
nvim/.config/nvim/autoload/*
nvim/.config/nvim/pack/*
nvim/.config/nvim/plugged/*
nvim/.config/nvim/plugins/*
nvim/.config/nvim/session/*
nvim/.config/nvim/themes/*
vifm/.config/vifm/vifminfo.json
